Modelfile
*.pdf
*.json
*.arrow
__pycache__/agent_logic.cpython-312.pyc
__pycache__/rag_engine.cpython-312.pyc
model_download/.lock/Qwen___Qwen2.5-7B-Instruct-GGUF
model_download/Qwen/Qwen2.5-7B-Instruct-GGUF
model_download/Qwen/Qwen2___5-7B-Instruct-GGUF/.mdl
model_download/Qwen/Qwen2___5-7B-Instruct-GGUF/.msc
model_download/Qwen/Qwen2___5-7B-Instruct-GGUF/.mv
model_download/Qwen/Qwen2___5-7B-Instruct-GGUF/qwen2.5-7b-instruct-q4_k_m.gguf
.ipynb_checkpoints/Modelfile-checkpoint
.ipynb_checkpoints/ollama-checkpoint
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
ollama.log
ollama
.ipynb_checkpoints/agent_logic.py-checkpoint.py
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/rag_engine.py-checkpoint.py
